body {
    margin: 0;
    background-color: #080710;
}

.header-holder {
    width: 100%;
    background-color: #000000;
    z-index: 4;
    overflow: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    z-index: 5;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 114px;
    height: 25px;
    display: block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    order: 1;
}

.search-mobile {
    /*     display: none; */
    position: absolute;
    top: -5px;
    right: 50px;
    z-index: 6;
}

.search-mobile a {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 60px;
    position: relative;
}

.search-mobile a .icon_search {
    width: 25px;
    height: 25px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
}

.header-nav {
    order: 2;
}

.header-nav {
    display: none;
}

.header-nav.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 10;
    opacity: 1;
    -webkit-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}

.header-nav.active .header-nav__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: auto;
}

nav.active ul {
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    display: block;
}

nav.active ul li {
    padding: 10px 0;
}

nav ul {
    padding: 8px 0 0 0;
    display: flex;
}

nav ul li {
    padding: 0 0 0 13px;
    list-style: none;
}

nav ul li a {
    display: inline-block;
    font-family: "BrandonText", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-transform: uppercase;
    padding: 5px 8px;
    letter-spacing: 0.9px;
    position: relative;
    text-decoration: none;
    transition: color .5s ease-in-out;
}

nav ul li a:hover {
    color: rgb(145, 101, 106);
    transition: color .2s ease-in-out;
}

.device-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.6);
    width: 45px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.device-menu .device-menu__inner {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.device-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
    top: 5px;
    left: 0;
    /*     -webkit-transform: rotate(45deg);
    transform: rotate(45deg); */
}

.device-menu span:nth-child(1) {
    top: 0;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
}

.device-menu span:nth-child(2) {
    top: 50%;
    /*     -webkit-transform: translate(0, -50%); */
    /*     transform: translate(0, -50%); */
}


/* .device-menu.open span:nth-child(2) {
  opacity: 0;
  } */

.device-menu span:nth-child(3) {
    top: 100%;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
}

.device-menu.open span:nth-child(1) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.device-menu.open span:nth-child(2) {
    opacity: 0;
}

.device-menu.open span:nth-child(3) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* @media only screen and (max-width: 1024px) { */


/*   @media only screen and (max-width: 2000px) {
  .head {
  display: none; 
  }
  
  .head.active {
  display: block;
  }
  
  .device-menu {
  display: block;
  }
  } */


/* MENÜ */

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 100px;
    position: sticky;
    z-index: 1;
}

.background {
    width: 1000px;
    height: 800px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

form {
    height: 600px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    /* top, formun yukarıdan uzaklığını gösteriyor */
    top: 55%;
    /* left, formun soldan uzaklığını gösteriyor */
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.check {
    margin-left: 0;
    margin-top: 40px;
    /* display: flex; */
    cursor: pointer;
}

.background .shape {
    /* yuvarlak şekillerin boyutu */
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    /* aradaki yuvarlakların renkleri ve pozisyonları*/
    background: linear-gradient( #472f2fcb, #9b6a31c0);
    left: -200px;
    top: 470px;
}

.shape:last-child {
    /* aradaki yuvarlakların renkleri ve pozisyonları */
    background: linear-gradient( to right, #722f23bd, #916f33b2);
    right: -180px;
    bottom: 390px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: -5px;
    font-size: 14px;
    font-weight: 300;
}

 ::placeholder {
    color: #e5e5e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}