body {
    margin: 0;
}

.header-holder {
    width: 100%;
    background-color: #000000;
    z-index: 4;
    overflow: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    z-index: 5;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-mobile {
    /*     display: none; */
    position: absolute;
    top: -5px;
    right: 50px;
    z-index: 6;
}

.search-mobile a {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 60px;
    position: relative;
}

.search-mobile a .icon_search {
    width: 25px;
    height: 25px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
}

.header-nav {
    order: 2;
}

.header-nav {
    display: none;
}

.header-nav.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 10;
    opacity: 1;
    -webkit-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}

.header-nav.active .header-nav__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: auto;
}

nav.active ul {
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    display: block;
}

nav.active ul li {
    padding: 10px 0;
}

nav ul {
    padding: 8px 0 0 0;
    display: flex;
}

nav ul li {
    padding: 0 0 0 13px;
    list-style: none;
}

nav ul li a {
    display: inline-block;
    font-family: "BrandonText", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-transform: uppercase;
    padding: 5px 8px;
    letter-spacing: 0.9px;
    position: relative;
    text-decoration: none;
    transition: color .5s ease-in-out;
}

nav ul li a:hover {
    color: rgb(145, 101, 106);
    transition: color .2s ease-in-out;
}

.device-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.6);
    width: 45px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.device-menu .device-menu__inner {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.device-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
    top: 5px;
    left: 0;
    /*     -webkit-transform: rotate(45deg);
    transform: rotate(45deg); */
}

.device-menu span:nth-child(1) {
    top: 0;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
}

.device-menu span:nth-child(2) {
    top: 50%;
    /*     -webkit-transform: translate(0, -50%); */
    /*     transform: translate(0, -50%); */
}


/* .device-menu.open span:nth-child(2) {
  opacity: 0;
  } */

.device-menu span:nth-child(3) {
    top: 100%;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
}

.device-menu.open span:nth-child(1) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.device-menu.open span:nth-child(2) {
    opacity: 0;
}

.device-menu.open span:nth-child(3) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* MENÜ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: #ffffff;
}

.big_box {
    display: flex;
    height: 100vh;
    align-items: center;
    color: #fff;
    animation: expand 0.8s ease forwards;
    /* background-image: url(https://i.imgur.com/1nP0D9d.jpg); */
    background-repeat: no-repeat;
    transition: all 1s ease;
}

.box {
    margin-left: 20px;
}

.p_box {
    overflow: hidden;
    /* kutu sınırlarını aştığı zaman gizleme yapar */
    max-width: 40%;
}

.btn_box {
    overflow: hidden;
    /* kutu sınırlarını aştığı zaman gizleme yapar */
    max-width: 50%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px 40px 0px;
    transform: translateY(300px);
    /* bir öğeyi dikey biçimde taşıma */
    animation: slideUp 0.6s forwards 0.6s;
    /* welcome to my art page yazısını yukarı kaydırarak getirir */
}

.btn_text {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 25px;
    transform: translateY(300px);
    /* bir öğeyi dikey biçimde taşıma */
    animation: slideUp 0.7s forwards 0.7s;
}

a {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
}

#hover:hover {
    color: white;
    text-decoration: none;
}

.title {
    overflow: hidden;
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp 0.6s ease forwards 0.6s;
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(0.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
}